@import "../sass/variables";
@import "../sass/mixins";

.movies-container {
    background: $secondary-color;
}

.movies {
    background: $primary-color;
    min-height: 90vh;
    clip-path: polygon(50% 0, 68% 0, 100% 0, 100% 86%, 81% 100%, 50% 100%, 27% 100%, 0 100%, 0 4%, 8% 0);

    @include respond(small-phone) {
        clip-path: none;
        height: 100vh;
    }

    &>span {
        display: flex;

        &>span {
            width: 87%;
            height: 0.5px;
            margin-left: 1.5rem;
            margin-top: 1.5rem;
            background-color: $secondary-color;
            box-shadow: 0px 0px 10px 0.5px $secondary-color;
        }
    }

    /* border: 1px solid red; */
    padding: 5rem 1.25rem;

    &-font-container {
        @include respond(small-phone) {
            width: 15rem;
            height: 7rem;
            padding: 1rem;
        }

        margin-bottom: 2rem;
        background-color: darken($color: $secondary-color, $amount: 15%);
        width: 9rem;
        height: 4rem;
        border-radius: 10px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        &__h1 {
            font-size: 1.3rem;
            font-weight: 500;

            @include respond(small-phone) {
                font-size: 2rem;
                line-height: 2.5rem;
            }
        }
    }

    &-grid {
        position: relative;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1.5rem;

        @include respond(small-phone) {
            display: block;
        }

        &__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            visibility: hidden;
        }


        &__movie {
            position: relative;
            // border: 1px solid dodgerblue;
            height: 13rem;
            border-radius: 10px;
            cursor: pointer;

            @include respond(small-phone) {
                height: 50rem;
                border: 3px solid $secondary-color;
            }

            &__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                border: 1px solid $secondary-color;

                // box-shadow: 0px 0px 5px 0.1px $secondary-color;
            }

            .movies-grid__overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: $primary-color;
                opacity: 0.9;
                visibility: hidden;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                padding-left: 1.4rem;
                border: 1px solid $secondary-color;
                border-radius: 10px;
            }

            &:hover {
                .movies-grid__overlay {
                    visibility: visible;
                }
            }

            @include respond(small-phone) {
                .movies-grid__overlay {
                    visibility: visible;
                    flex-direction: row;
                    left: 2rem;
                    justify-content: space-between;
                    height: 15%;
                    width: 93%;
                    bottom: 5rem;

                }
            }
        }


        &__quality {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            width: 2.6rem;
            height: 1.3rem;
            background: $secondary-color;
            border-radius: 30px;
            font-size: 0.9rem;
            color: $white-color;
            margin-right: 2rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

            @include respond(small-phone) {
                width: 10rem;
                height: 5rem;
                font-size: 3rem;

            }
        }

    }
}