.navbar {
    width: 100%;
}

.container-box {
    display: flex;
    align-items: center;
    padding: 0rem 1.25rem;
    position: absolute;
    top: 1rem;
    z-index: 3;
    width: 100%;
}

.navbar-ul {
    display: flex;

    &__link {
        padding-right: 2.5rem;
    }
}
