@import "../sass/variables";

.carousel-image {
    width: 100%;
    height: 95vh;
}

.carousel-overlay {
    width: 100%;
    height: 95vh;
    position: absolute;
    background: $primary-color;
    z-index: 1;
    opacity: 0.3;
}

.carousel__content {
    background: dodgerblue;
    position: absolute;
    z-index: 3;
}